.mobile {
  width: 430px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 24px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.munchi-logo {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Vertically center items */
  justify-content: center;
  margin: 20px;
}

.munchi-logo p {
  margin-right: 5px; /* Add some spacing between the text and the image */
}
.munchi-logo img {
  width: 80px;
  height: auto;
  margin-bottom: 2px;
}
@media (max-width: 768px) {
  .mobile {
    width: 100%;
    border: none;
    height: 100vh;
    margin: 0 auto;
  }
}
