.feedback {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  display: fixed;
  top: 0;
}

.question {
  font-size: 20px;
}
.text {
  font-size: 16px;
}
.feedback-container {
  display: flex;
  flex-direction: column;
}

.feedback-description {
  text-align: center;
  margin: 20px;
}

.mobile {
  width: 430px;
  height: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
