.feedbackItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 16px;
  padding: 12px;
  border: 1px solid #ccc;
}

.emoji {
  font-size: 24px;
  margin-right: 16px;
}

.content h4 {
  border: 1px solid;
  width: fit-content;
  color: #ff3637;
}
