.dashboardContainer {
  text-align: center;
}

.title {
}

.feedbackSection {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}
