/* tips.module.css */
.dashboardContainer {
  background-color: #f8f8f8;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedbackTable {
  border-collapse: collapse;
  margin-top: 20px;
}

.feedbackTable th,
.feedbackTable td {
  border: 1px solid #e0e0e0;
  padding: 12px;
  text-align: left;
}

.feedbackTable th {
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.feedbackTable td:first-child,
.feedbackTable th:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.feedbackTable td:last-child,
.feedbackTable th:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.error {
  color: #ff4545;
  font-weight: bold;
}

.dashboardContainer {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.totalHeading {
  font-size: 20px;
}

.total {
  display: flex;
  flex-wrap: wrap;
}

.totalItem {
  margin-right: 20px;
}

.totalAmount {
  font-size: 18px;
  font-weight: bold;
}

.currency {
  color: #007bff; /* Blue color for currency */
}

.feedbackTable {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.tableRow:nth-child(even) {
  background-color: #f7f7f7;
}

.dateCell,
.tipAmountCell,
.paymentIdCell {
  padding: 10px;
}

@media (max-width: 850px) {
  .dashboardContainer {
    width: fit-content;
  }
}
