.dashboard-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  flex-grow: 1; /* Allow dashboard-info to grow and occupy the remaining space */
  border: 1px groove #f3f3f3;
  text-align: center;
  overflow-y: auto;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}
