.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1.5px groove #f3f3f3;
}

.feedback-wrapper {
  padding-top: 20px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.logo {
  background-color: #173d14;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.restaurant-name {
  font-weight: bold;
}

.feedback-container {
  display: flex;
  flex-direction: column;
}

.feedback-description {
  text-align: center;
  margin: 20px;
}

.tags-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 10px;
}

.tags-container li {
  margin: 5px;
}

.tags-container input[type="checkbox"] {
  display: none;
}

.tags-container label {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.tags-container label.selected-button {
  background-color: #ff3637;
  color: #fff;
}

.tags-container label.unselected-button {
  background-color: #ffeded;
  color: #ff3637;
}

.form-submitted {
  background-color: red;
  color: white;
}

.unselected-button {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
