.dashboardContainer {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.feedbackTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; /* Remove cell spacing */
}

.feedbackTable th,
.feedbackTable td {
  padding: 8px 12px;
  text-align: left;
  border: none; /* Remove table cell borders */
}

.feedbackTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.feedbackTable tbody tr:hover {
  background-color: #ddd;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.tags {
  padding: 6px;
  background: #f2f2f2;
  width: fit-content;
  border-radius: 50px;
}
