.dashboardContainer {
  padding: 20px;
}

.feedbackTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; /* Remove cell spacing */
}

.feedbackTable th,
.feedbackTable td {
  padding: 8px 12px;
  text-align: left;
  border: none; /* Remove table cell borders */
}

.feedbackTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.feedbackTable thead tr:hover {
  background-color: green;
  border-radius: 50px;
}

.feedbackTable tbody tr:hover {
  background-color: #ddd;
}

.pagination {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  align-items: center;
  gap: 5px;
}

.tags {
  padding: 6px;
  background: #f2f2f2;
  width: fit-content;
  border-radius: 50px;
}
