.dashboard {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.sidebar {
  max-width: fit-content;
  padding: 20px;
  height: 100vh;
  background-color: #e8eaee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow dashboard-info to grow and occupy the remaining space */
  overflow-y: auto;
}

/* Mobile styles */
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
