.dashboard-content {
  padding: 20px;
  display: flex;
  gap: 10px;
}

.dashboard-chart {
  margin: 20px;
  text-align: center;
}

.dashboard-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow dashboard-info to grow and occupy the remaining space */
  overflow-y: auto;
}

@media (max-width: 800px) {
  .dashboard-content {
    flex-wrap: wrap;
  }
  .flex {
    flex-direction: column;
  }
}
