.dashboard-content {
  padding: 20px;
  display: flex;
  gap: 10px;
}

.dashboard-chart {
  margin: 20px;
  text-align: center;
}

@media (max-width: 800px) {
  .dashboard-content {
    flex-wrap: wrap;
  }
}
